body{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: brown;
}

header{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

.main{
    width: 100%;
    height: 300px;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.one{
    width: 1024px;
    height: 150px;
    background-color: azure;
}

.two{
    width: 1024px;
    height: 100px;
    background-color: coral;
}

footer{
    width: 100%;
    height: 100px;;
    background-color: aqua;
}