body{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

header{
    width: 100%;
    height: 60px;
    background-color: lightsalmon; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hello{
    letter-spacing: 2px;
}

.main{
    width: 100%;
    height: 800px;
    background-color: rgb(255, 195, 172);
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.egor{
    display: flex;
    flex-direction: row;
    width: 1024px;
    background-color: rgb(255, 179, 148);  
}

.main_inf{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* background-color: lightsalmo;   */
}

h1{
    margin-left: 30px;
    margin-bottom: -15px;
    color:#47464f;
}

h2{
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    color:#47464f;
}

.social-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;   
}
li{
    margin-bottom: 10px;
    margin-left: -15px;
}

a{
    text-decoration: none;
}

.links{
    color:#47464f;
    font-style: normal;
}

.links:hover{
    color: darkmagenta;
    letter-spacing: 1px;
}

.icon-phone{
    color: teal;
}

.icon-mail{
    color:tomato;
}

.icon-github-circled{
    color:black;
}

.icon-vkontakte{
    color: steelblue;
}

.foto{
    display: flex;
    width: 40%;
}

.image{
    width: 200x;
    height: 200px;
    border-radius: 100px;
    margin-top: 20px;
}

.inf{
    width: 1024px;
    height: 450px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.about{
    margin-left: 50px;
}

.items:nth-child(odd){
    margin-left: 450px;
}

.items{
    width: 40%;
    list-style: none;
}

footer{
    width: 100%;
    height: 100px;;
    background-color: aqua;
}